# Environnement virtuel
venv/
.env

# Donn?es brutes et trait?es (trop lourdes)
data/raw/
data/processed/

# Mod?les ? inclus dans models/ (pas ici)
# models/ ? NE PAS ignorer

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# VS Code
.vscode/

# Syst?me
.DS_Store
Thumbs.db
