# Environnement virtuel
venv/
.env

# Données (trop lourdes pour GitHub)
data/raw/
data/processed/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# VS Code
.vscode/

# Système
.DS_Store
Thumbs.db
